<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>web_ex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>SerivceServlet</servlet-name>
  	<servlet-class>controller.ServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SerivceServlet</servlet-name>
  	<url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  
   <!-- JSP file Mapping -->
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>
	
  
	<servlet>
		<servlet-name>mypage</servlet-name>
		<jsp-file>/views/mypage.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/joinForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/loginForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutFormAction</servlet-name>
		<servlet-class>user.controller.LogoutAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logoutFormAction</servlet-name>
		<url-pattern>/LogoutAction</url-pattern>
	</servlet-mapping>
	<!--조회--> 
	<servlet>
		<servlet-name>editUserForm</servlet-name>
		<jsp-file>/views/editUserForm.jsp</jsp-file>
		</servlet>

	<servlet-mapping>
		<servlet-name>editUserForm</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<servlet-name>leaveForm</servlet-name>
		<jsp-file>/views/leaveForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>leaveForm</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>
	
 	<!-- update -->
	<servlet>
		<servlet-name>updateForm</servlet-name>
		<jsp-file>/views/updateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateForm</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
</web-app>